<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Graphs View</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="plotly" style="padding: 0 10.px;"></div>
    <script>
        var graph = {{ graph | safe }};
        Plotly.newPlot('plotly', graph.data, graph.layout);
    </script>
</body>
</html>